@import "pane.less";

@edge: 1px solid #858585;

/*html, body 
{
    height: 100%;
}*/

._divider()
{
    border-right: @edge;
}

#pane1
{
    min-width: 150px;
    ._divider();
}

#pane2
{
    min-width: 250px;
    ._divider();
}

#editor
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 402px;
}

#status
{
    position: absolute;
    left: 402px;
    bottom: 0;
    right: 0;
    height: 20px;
    border-top: @edge;
}
