@import "pane.less";

@edge: 1px solid #c5c5c5;
@menu_height: 32px;

#pane1, #pane2
{
    border-right: @edge;
}

#pane1, #pane1-menu
{
    min-width: 150px;
}

#pane2, #pane2-menu
{
    min-width: 250px;
}

#status
{
    /*width: 100px;*/
    height: 100%;

    .alert
    {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        margin-bottom: 0;
    }
}

#editor
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 402px;
}

#menu
{
    z-index: 5;
    background-color: #c9c9c9;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 2px;
    height: @menu_height;
}

#popup-control
{
    display: none;
}


/* Small size */
@media screen and (max-width: 500px)
{
    .pane-container
    {
        display: block;
    }

    #editor
    {
        /*display: none;*/
        left: 0;
    }

    #menu
    {
        /*display: none;*/
    }

    #pane1, #pane2
    {
        display: none;
        min-width: 0;
        border: none;
        margin: 0;
        padding: 0;
    }

    #pane1
    {
        float: left;
        width: 30%
    }

    #pane2
    {
        float: right;
        width: 70%
    }

    #pane1-menu, #pane2-menu
    {
        min-width: 0;
    }

    #popup-control
    {
        display: inline;
    }
}
