.fullscreen
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Default height, overridden in js */
    height: 800px;
}

.pane-container
{
    display: table;
}

.pane
{
    display: block;
    float: left;
    height: 100%;
}

.pane-scroll
{
    overflow-y: auto;
}
