<div class="fullscreen pane-container">

  <div id="pane1" class="pane pane-scroll">
    <ul class="nav nav-list">

      <li class="active">
        <a href="#"><i class="icon-align-justify"></i>Queue</a>
      </li>

      <li class="divider"></li>
        <li>
          <a href="#"><i class="icon-tag" style="red">Tag</a>
        </li>

      <li class="divider"></li>
      <li>
        <a href="#"><i class="icon-trash"></i>Trash</a>
      </li>
    </ul>
  </div>

  <div id="pane2" class="pane pane-scroll">
    <ul class="nav nav-list">
        <li>
          <a href="#"><i class="icon-file"></i>Document</a>
        </li>
    </ul>
    </div>
</div>

<!-- Statically positioned elements -->
<div id="editor"></div>


<div id="menu" class="pane-container">
  <div id="pane1-menu" class="pane">
  Add 1
  </div>

  <div id="pane2-menu" class="pane">
  Add 2
  </div>

  <div id="editor-menu" class="pane">
    <span class="label label-success">Foo</span>
    <span class="label label-important">Bar</span>
    <span class="label label-info">Baz</span>
  </div>

  <div id="status" class="pull-right">
  Status
  </div>
</div>