<!doctype html>
<html>
  <head>
  {% block head %}
    <meta charset="utf-8">

    <title>{% block page_title %}{% endblock %}</title>

    {% block styles %}
      {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}bootstrap-dev/less/bootstrap.less">
      {% else %}
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
      {% endif %}
    {% endblock %}
    
    {% if debug %}
      <script src="{{STATIC_URL}}lib/less.js"></script>
    {% endif %}
  {% endblock %}
  </head>

  <body>
  {% block body %}

    {% block content %}
    {% endblock %}

    {% block scripts %}
      {% if debug %}

        <!-- Dev libs -->
        <script src="{{STATIC_URL}}lib/jquery.js"></script>
        <script src="{{STATIC_URL}}lib/underscore.js"></script>
        <script src="{{STATIC_URL}}lib/backbone.js"></script>
        <script src="{{STATIC_URL}}bootstrap-dev/js/bootstrap.js"></script>

      {% else %}

        <!-- Minified libs -->
        <script src="{{STATIC_URL}}lib/jquery-min.js"></script>
        <script src="{{STATIC_URL}}lib/underscore-min.js"></script>
        <script src="{{STATIC_URL}}lib/backbone-min.js"></script>
        <script src="{{STATIC_URL}}bootstrap-dev/js/bootstrap.min.js"></script>

      {% endif %}
    {% endblock %}

  {% endblock %}
  </body>
</html>
