{% extends "base.html" %}

{% block page_title %}Napkin{%endblock%}

{% block styles %}
  {{ super() }}

  {% if debug %}
    <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}less/napkin.less">
  {% else %}
  {% endif %}
{% endblock %}


{% block content %}

<div class="fullscreen pane-container">

  <div id="pane1" class="pane-fixed">
    <ul class="nav nav-list">

      <li class="active">
        <a href="#"><i class="icon-align-justify"></i>Queue</a>
      </li>

      <li class="divider"></li>

      {% for i in range(12) %}
        <li>
          <a href="#">
          <i class="icon-tag" style="color: {{['cyan', 'black', 'magenta', 'yellow', 'red', 'green', 'blue']|random}};"></i>{{ lipsum(html=False, n=1, min=1, max=2)}}</a>
        </li>
      {% endfor %}

      <li class="divider"></li>

      <li>
        <a href="#"><i class="icon-trash"></i>Trash</a>
      </li>
    </ul>
  </div>

  <div id="pane2" class="pane-fixed">
    <ul class="nav nav-list">
      {% for i in range(50) %}
        <li>
          <a href="#"><i class="icon-file"></i>{{ lipsum(html=False, n=1, min=2, max=4)}}</a>
        </li>
      {% endfor %}
    </ul>
    </div>
</div>

<!-- Statically positioned elements -->
<div id="editor"></div>
<div id="status">
  <span class="label label-success">Foo</span>
  <span class="label label-important">Bar</span>
  <span class="label label-info">Baz</span>
</div>

{% endblock %}


{% block scripts %}
{{ super() }}

<script src="{{STATIC_URL}}lib/ace/src/ace-uncompressed.js"></script>

<script>

  // Callback on window resize to fix layout
  function fix_size()
  {
      var height = window.innerHeight;
      $('.fullscreen').css('height', height);
      $('#editor').css('height', height - $('#status').height());
  }

  $(window).resize(fix_size);

  $(function() {
    // Load editor
    var editor = ace.edit("editor");
    editor.setShowPrintMargin(false);
    editor.renderer.setShowGutter(false);
    fix_size();
  })

</script>

{% endblock %}
