{% extends "base.html" %}

{% block page_title %}Napkin{%endblock%}

{% block styles %}
  {{ super() }}

  {% if debug %}
    <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}less/napkin.less">
  {% else %}
  {% endif %}
{% endblock %}


{% block content %}

<div id="app-container"></div>

{% endblock %}


{% block scripts %}
{{ super() }}

<!-- Load libs for app -->
<script src="{{STATIC_URL}}lib/ace/src/ace-uncompressed.js"></script>

<!-- Load app files in "app" namespace -->
<script src="{{STATIC_URL}}app/app.js"></script>
<script src="{{STATIC_URL}}app/views.js"></script>
<script src="{{STATIC_URL}}app/models.js"></script>
<script src="{{STATIC_URL}}app/collections.js"></script>
<script src="{{STATIC_URL}}app/loader.js"></script>
<script src="{{STATIC_URL}}app/utils.js"></script>

<script>
$(function() {
    // Document loaded, initialize backbone app
    app.init();
})
</script>

{% endblock %}
