<script type="text/template" id="Application-template">

<div class="fullscreen pane-container">
  <div id="pane1" class="pane pane-scroll">
  </div>
  <div id="pane2" class="pane pane-scroll">
  </div>
</div>

<div id="editor"></div>

<div id="menu" class="pane-container">
  <div id="pane1-menu" class="pane">
    <button class="btn btn-primary"><i class="icon-plus"></i>&nbsp;Tag</button>  
  </div>

  <div id="pane2-menu" class="pane">
      <button class="btn btn-primary"><i class="icon-plus"></i>&nbsp;Note</button>  
  </div>

  <div id="editor-menu" class="pane">
    <span class="label label-success">Foo</span>
    <span class="label label-important">Bar</span>
    <span class="label label-info">Baz</span>
  </div>

  <div id="status" class="pull-right">
  Status
  </div>
</div>

</script>


<script type="text/template" id="TagList-template">

  <ul class="nav nav-list">
    <li class="active">
      <a href="#"><i class="icon-align-justify f-queue"></i>Queue</a>
    </li>

    <li class="divider"></li>
    <div class="f-list"></div>

    <li class="divider"></li>
    <li>
      <a href="#"><i class="icon-trash f-trash"></i>Trash</a>
    </li>
  </ul>

</script>


<script type="text/template" id="TagItem-template">

  <a href="#" class="f-name"></a>

</script>


<script type="text/template" id="NoteList-template">

  <ul class="nav nav-list f-list"></ul>

</script>


<script type="text/template" id="NoteItem-template">

  <a href="#" class="f-name"></a>

</script>
